<h1>Cocktails-Recipe</h1>
<h2>Mazal Tov</h2>
<div class="container">
<% @cocktail.doses.each do |dose| %>



 <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cocktail Name</th>
      <th scope="col">Ingredient</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><%= @cocktail.name %></td>
      <td><%= dose.ingredient.name %> -
      	<%=link_to "Delete", cocktail_dose_path(dose.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %></td>
      <td><%= dose.description %></td>
    </tr>
    <% end %>
    
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://static.standard.co.uk/s3fs-public/thumbnails/image/2016/09/30/10/cocktails.jpg?width=1000&height=614&fit=bounds&format=pjpg&auto=webp&quality=70&crop=16:9,offset-y0.5'), background-size: cover;">
  <div class="card-category">Popular</div>
  <div class="card-description">
  <a class="card-link" href="#" ></a>
</div>




</div>
  </tbody>

</table>
      

 </ul>
 <table >
  <tbody>
    <tr>
      <th><%= link_to "Back to black", cocktails_path%></th>
      <th>   </th>
      <th><%= link_to "new dose", new_cocktail_dose_path(@cocktail)%></th>      
    </tr>
  </tbody>
      <ul>
<li><%= link_to "Back to black", cocktails_path%></li>
 <li><%= link_to "new dose", new_cocktail_dose_path(@cocktail)%></li> 